html, body {
    height: 100%;
}

body {
    margin: 0px;
    padding: 0px;
    background: #F1E9D4 url(images/bg01.png) repeat;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    color: #747474;
}


h1, h2, h3 {
    margin: 0;
    padding: 0;
}

p, ol, ul {
    margin-top: 0px;
}

p {
    line-height: 180%;
}

strong {
}

a {
    color: #706C53;
}

a:hover {
    text-decoration: none;
}

a img {
    border: none;
}

img.border {
}

img.alignleft {
    float: left;
}

img.alignright {
    float: right;
}

img.aligncenter {
    margin: 0px auto;
}

hr {
    display: none;
}

ul.style1
{
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.style1 li
{
    padding: 15px 0px 15px 0px;
    border-top: 1px solid #E5E5E5;
}

ul.style1 a
{
    color: #747474;
}

ul.style1 .first
{
    padding-top: 0;
    border-top: none;
}

/** WRAPPER */

#wrapper {
}

.container {
    width: 1200px;
    margin: 0px auto;
}

.clearfix {
    clear: both;
}

/* Header */

#header-wrapper {
    overflow: hidden;
    height: 600px;
}

#header {
    width: 960px;
    height: 200px;
    margin: 0 auto;
    padding: 0px 20px;
}

/* Logo */

#logo {
    overflow: hidden;
    padding: 3em 0em;
}

#logo h1, #logo p {
    text-align: center;
}

#logo h1 {
    padding: 0px 0px 0px 0px;
    text-transform: lowercase;
    font-size: 4em;
    font-weight: 600;
    color: #706C53
}

#logo p {
    margin-top: -20px;
    padding: 0px 0px 0px 5px;
    font-size: 20px;
    font-weight: 300;
    color: #696969;
}

#logo p a {
    color: #696969;
}

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #3C342E;
}

/* Menu */

#menu-wrapper {
    overflow: hidden;
    height: 52px;
    margin-bottom: 2em;
    border-top: 1px solid #D7CFAD;
    border-bottom: 1px solid #D7CFAD;
}

#menu {
    overflow: hidden;
    height: 52px;
}

#menu ul {
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
    text-align: center;
}

#menu li {
    display: inline-block;
}

#menu a {
    display: block;
    padding: 0px 30px;
    line-height: 52px;
    border: none;
    text-decoration: none;
    text-transform: lowercase;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    color: #706C53;
}

#menu a:hover, #menu .current_page_item a {
    background: #D7CFAD;
    text-decoration: none;
    color: #706C53;
}

#menu .current_page_item a {
}

/** PAGE */


#page {
    overflow: hidden;
    width: 1100px;
    margin-bottom: 3em;
    padding: 5em 50px;
    background: #FFF;
    border: 1px solid #D9D2A5;
}

#page h2 a
{
    letter-spacing: -2px;
    text-decoration: none;
    font-size: 1.7em;
    font-weight: 400;
    color: #706C53;
}

#box
{
    float: left;
    width: 750px;
    margin-right: 50px;
}


#box1
{
    float: left;
    width: 450px;
    margin-right: 50px;
}

#box2
{
    float: left;
    width: 300px;
}

#box2 h2, #box3 h2
{
    padding-bottom: 1.2em;
    font-weight: 400;
    font-size: 1.7em;
    font-weight: 400;
    color: #706C53;
}


#box3
{
    float: right;
    width: 250px;
}


/** CONTENT */

#content {
}

/** SIDEBAR */

#sidebar {
}

/* Footer */

#footer {
    overflow: hidden;
    padding: 3em 0em;
    border-top: 1px solid #D9D2A5;
    color: #7A7762;
}

#footer p {
    text-align: center;
}

#footer a {
    color: #7A7762;
}

/* Formulaire */

form {
    font-size:1.3em;
}

label {
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

input, textarea {
    width:300px;
    background:#efefef;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
}

select {
    width:320px;
    background:#efefef;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #dedede;

    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
}

input:focus, textarea:focus {
    border:1px solid #97d6eb;
}

textarea {
    height:213px;
    font-family:Arial, Helvetica, sans-serif;
    background:#efefef;
}

input[type="submit"]{
    width:320px;
    font-weight: bold;
    font-size:1em;
}

input[type=submit]:active {
    background:#DDDDDD;
    color:#333333;
}

#submit:hover {
    opacity:0.9;
}

/* Tableau */

.tableau {
    font-size: 14px;
    text-align: center;
    border-collapse: collapse;
}
.tableau th {
    font-size: 16px;
    font-weight: normal;
    padding: 8px;
    background: #666666;
    border-top: 2px solid #666666;
    border-bottom: 1px solid #fff;
    color: #333333;
}
.tableau td {
    padding: 8px;
    border-bottom: 1px solid #fff;
    color: #333333;
    border-top: 1px solid #fff;
    background: #EEEEEE;
}
.tableau thead tr th {
    background: #DDDDDD;
}
.tableau tfoot tr td {
    background: #666666;
    font-size: 16px;
    color: #333333;
    text-align:center;
}
.tableau tbody tr:hover td {
    background: #DDDDDD;
    color: #333333;
}
.tableau a:hover {
    text-decoration:underline;
}
.tableau input[type="submit"]{
    background: #FFFFFF;
}

/* BUTTON */

.button {
    -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
    box-shadow:inset 0px 1px 0px 0px #ffffff;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
    background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
    background-color:#ededed;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#777777;
    font-family:arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:1px 1px 0px #ffffff;
}
.button a {
    text-decoration:none;
}
.button:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
    background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
    background-color:#dfdfdf;
}
.button:active {
    position:relative;
    top:1px;
}
